* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 1F4287 */
html, body {
    font-family: Poppins, Helvetica, sans-serif;
}

body {
    background-color: #071E3D;
    width: 100%;
}

.main-container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.score, .result {
    width: 80%;
    max-width: 300px;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    color: #21E6C1;
    text-align: center;
}

.score {
    margin-bottom: 2rem;
}

.result {
    margin-bottom: 1rem;
}

.sub-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-container > button:not(:last-child) {
    margin-bottom: 2rem;
}

button {
    letter-spacing: 0.08rem;
    padding: 0.5rem 1rem;
    background-color: #21E6C1;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0.5px #278EA5;
    color: #000;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow 1ms ease-in-out;
    width: 109px;
}

button.clear {
    background-color: transparent;
    border: 2px solid #21E6C1;
    color: #21E6C1;
    margin-top: 2rem;
}

button:hover {
    box-shadow: 0px 3px 5px #278EA5;
}

@media (min-width: 769px) {
    .sub-container {
        flex-direction: row;
    }
    .sub-container > button:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}